body{
    margin: 0;
    padding: 0;
    
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
form:hover{
    padding: 30px;
    transition: 0.2s;
}
label{  
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.container{
    border: 3px solid black;
    border-radius: 10px;
}
.upload-db{
    margin-left: 38vw;
}
input[type="text"]{
    border: 0;
}

@media screen and (max-width: 768px) {
    form{
        margin-top: 15px;
        padding: 25px;
        width: 75%;
    }
  }
/* 
#image {

    margin: 10px;
    width: 100px; 
    padding: 5px;
  } */